.BuildControls {
	width: 100%;
	background-color: #a7bed3;
	display: flex;
	flex-flow: column;
	align-items: center;
	box-shadow: 0 2px 1px #ccc;
	margin: auto;
	padding: 10px 0;
	height: 50%;
	position: absolute;
	bottom: 0;
}

.BuildControls p {
	font-family: 'Cabin';
}

.OrderButton {
	background-color: #752ef7;
	outline: none;
	cursor: pointer;
	border: 1px solid;
	color: #ffffff;
	font-family: inherit;
	font-size: 1.2em;
	padding: 5px 30px;
	box-shadow: 2px 2px 2px #966909;
	position: absolute;
	bottom: 20px;
}

.OrderButton:hover,
.OrderButton:active {
	background-color: #b65af6;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.OrderButton:disabled {
	background-color: #c7c6c6;
	cursor: not-allowed;
	border: 1px solid #ccc;
	color: #b2abbf;
}

.OrderButton:not(:disabled) {
	animation: enable 0.3s linear;
}

@keyframes enable {
	0% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
