th {
	text-align: start;
}

.Workout {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.time {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
}
