.jumbotron {
	background-color: #eba2ae !important;
	padding-top: 20px;
	justify-content: center;
	margin-bottom: 0px;
	border-radius: 0;
}
@-webkit-keyframes rubberBand {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		-webkit-transform: scale3d(0.95, 1.05, 1);
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		-webkit-transform: scale3d(1.05, 0.95, 1);
		transform: scale3d(1.05, 0.95, 1);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

h1 {
	font-family: 'Lobster';
	text-align: center;
	font-size: 60px;
	animation-name: rubberBand;
	animation-duration: 2s;
	position: relative;
}

#web_developer {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

jumbotron p {
	text-align: center;
	font-family: 'Cabin';
	margin-top: 20px;
	font-size: 20px;
}
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.spandisplayflex {
	display: flex;
}
#girls {
	position: absolute;
	top: 150px;
	left: 100px;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-delay: 2s;
	animation-duration: 4s;
	opacity: 0;
	animation-fill-mode: forwards;
	font-family: 'Pacifico', cursive;
	text-align: center;
	color: #cc3366;
}

#feminism {
	position: absolute;
	top: 150px;
	right: 100px;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	animation-delay: 2s;
	animation-duration: 4s;
	opacity: 0;
	animation-fill-mode: forwards;
}

@media (max-width: 500px) {
	#girls {
		display: none;
	}

	#feminism {
		display: none;
	}
}
